@import './base.css';

.p-input-icon {
    margin-top: -0.5rem!important;
}

.p-progress-spinner-circle {
    stroke: var(--color-background-soft)!important;
}

.p-button-label {
    font-weight: bold!important;
}

.iframShadow iframe {
    box-shadow: 0px 0px 20px 0px var(--primary-color);
    border-radius: 20px;
}

.video.iframShadow iframe {
    height: 60vh;
    width: calc(60vh * 16 / 9);
    max-width: calc(100vw - 5rem);
}

.p-input-icon {
    margin-left: 0.25rem;
}

.p-fieldset-content {
    display: flex;
    flex-direction: column;
}

.p-password-input {
    width: 100%;
}