@import './base.css';

.p-input-icon {
    margin-top: -0.5rem!important;
}

.p-progress-spinner-circle {
    stroke: var(--color-background-soft)!important;
}

.p-button-label {
    font-weight: bold!important;
}